body{
    margin: 0%;
    padding: 0%;
}
/* Gabriel */
.row{
    display:flex;
    flex-direction: row;
}
.row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding:0%;
    margin:0%;
}
header{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 18%;
    padding-right: 18%;
    
}
header > p{
    width: auto;
    /* border: 1px solid black; */
}
header img#logo-ecole{
    width: 170px;
    height: 80px;
}
#logo-panier{
    width: 50px;
    height: 50px;
    padding: 10px;
    border:1px black solid;
    margin-left:auto;
}

ul#article-panier{
    margin:0%;
    padding:0px;

    width: 300px;
    display:none;
    background-color: rgb(236, 236, 165);

    list-style-type: none;
}
div.search-bar{
    margin-top: 20px;

    text-align: center;

}
div.search-bar input#recherche-site{
    border-radius: 5px;
    padding: 9px;
    width: 60%;
    font-size:30px;
}

/* Gabriel */
.row{
    display:flex;
    flex-direction: row;
}
.row-space-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    padding:0%;
    margin:0%;
}

h1{
    text-align: center;
    margin-bottom: 0%;
    margin-top: 25px;
}

.cours{
    max-width: 80em;
    margin:auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between;
    
}
.courindispo{
    font-weight: bold;
    
}
#uiux, #php, #react, #node, #my-sql{
    
    display : flex;
    flex-direction: column;
    width: 250px;
    border : 1px solid black;
    border-radius:15px;
    margin-top: 30px;
    padding:10px;
    box-shadow: 5px 5px 5px gray;
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}
section.cours div p{
    margin:6px;
    margin-left: 0%;
}
section.cours div div.prix{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section.cours div div.prix p{
    margin: 6px;
    margin-left: 0%;
    margin-right:0%;
}

img {
    width : 100%;
    height : 45%;
}

.nomcours{
    font-weight: bold;
    font-size: 15px;
}
.prixbase{
    color: red;
    text-decoration: line-through;
}
.prixreduction{
    font-weight: bold;
}
.boutonpanier{
    width : 65%;
    height: 12%;
    background-color: #00FFFF ;
    border-radius: 8px;
    margin-left: 0.5em;
    color : black;
    border-style : none;
    margin:auto;
}
.boutonpanier:hover{
    border:0.1px black solid;
    cursor: pointer;
}
.boutonpanier:hover{
    border:0.1px black solid;
    cursor: pointer;
}
button.boutonpanier img{
    width: auto;
}
.boutonpanier:hover{
    width:75%;
}
#notification{
    background: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    margin: 10px;
    top :10px;
    z-index: 2;
    height: 100px;
    width: 15%;
    position: fixed;
    margin-left:1150px;
    visibility: hidden;
}

#notifcation.snow{
    visibility: visible;
    
}
.dropdown:hover > #cart-dropdown{
    display: block;
}

.hide{

    display: none;
    opacity: 1;
    position: absolute;
    z-index: 3;
    margin-left: 500px;
}
.cour{
    display: block;
}